<tr>
			<td><%= text %></td>
			<td><%= type_text %></td>
			<td>
				<button class="delete-container" data-id='<%= type %>' class="btn btn-danger btn-mini">
					<i class="icon-trash"></i>
				</button>
			</td>
</tr>