<li data-port-id="<%= id %>" class="port-li">
	<% var flagurl = base_url +"assets/img/flags_iso/16/"+ country_code.toLowerCase() +".png"; %>
	<img src="<%= flagurl %>" />
	<% 
		var help_string = country_code+port_code+" - "+name+", ";
		if(state != null && state !== undefined && state.length > 0){
			help_string += state + ", ";
		}
		help_string += country_code;
	 %>
	 <%= help_string %>
	 <span class="delete">
	 	<i class="icon-trash"></i>
	 </span>
</li> 