<div id="port-groups">
	<div class="row">
		<div class="offset3 span6">
			<div>
			  <h5>Add Port Grouping(s)</h5>
			</div>
			<div>
				<input type="text" name="group-name" placeholder="Group Name" id="group-name">
			</div>
			<div>
				<input type="hidden" class="query-input" name="port-location" id="port-location" placeholder="Add Port to Group"  style="width: 226px;"/>
				<button id="add-port-to-group" class="btn btn-small btn-success"><i class="icon icon-plus"></i></button>
				<ul id="port-grouping">
				</ul>
			</div>
			<div>
			  	<button id="close-add-port-group" class="btn btn-small">Close</button>
				<button id="add-port-group" class="btn btn-primary btn-small">Add Port Group</button>
			</div>
		</div>
	</div>
</div>