<div id="overlay-content">
	<!-- Will add these back if there is a need
	<div id="left-bar" class="bar overlay-icon">
		<i class="icon-angle-left icon-4x"></i>
	</div>
	-->
	<div id="overlay-body">
	   <p> there will be some body text in here </p>
	   <div id="overlay-body-img"></div>
	</div>
	<!-- Will add these back if there i sa need
	<div id="right-bar" class="bar overlay-icon">
		<i class="icon-angle-right icon-4x"></i>
	</div>
	-->
	<div id="close-overlay" class="overlay-icon">
		<i class="icon-remove-sign icon-2x"></i>
	</div>

</div>