<div data-doc-id="<%= doc_id %>" data-page-num="<%= page_number %>" class="doc-thumbnail page-<%= page_number %>">
	<div class="page-number">
		<%= page_number %>
	</div>
	<img  
		style="height:140px;" 
	/>
	
</div>

