<p>
	<span class="label label-inverse">FROM</span> <%= from_date %>
	<span class="label label-inverse">TO</span> <%= to_date %>
	<span class="delete delete-dates"><i class="icon-trash"></i></span>
</p>