<p>
	<span class="label label-success">TO</span> 
	<span class="text-currency-symbol" data-id="<%= currency_code %>"><%= symbol %></span> 
	<span class="text-value"><%= amount %></span>
	<span class="delete delete-value"><i class="icon-trash"></i></span>
</p>