div.container-fluid {
	padding-top: 40px;
}

#nav-logo{
	margin-left: 1em;
	margin-right: 0.3em;
}

button > i {
	margin-right: 3px;
}

.transport-icon {
	width: 24px;
	height: 24px;
}

li.select2-highlighted img.transport-icon{
	color: white;
}