


#nav-logo{
	margin-left: 1em;
	margin-right: 0.3em;
}


/** sets margin between icon and button standard 
button > i {
	margin-right: 3px;
}
**/



/** city selector **/
td.country-dropdown{
	color: #FFF;
}

/* used for ports selector */
span.transport-icon {
	width: 24px;
	height: 24px;
	display: inline-block;
}


/** Icons for Ports Selected **/
span.transport-ocean {
	background: url('../../assets/img/transport_icons/ship_24.png');
}

li.select2-highlighted span.transport-ocean {
	background: url('../../assets/img/transport_icons/ship_24_select.png');
}

div.tt-is-under-cursor span.transport-ocean {
	background: url('../../assets/img/transport_icons/ship_24_select.png');
}

span.transport-air {
	background: url('../../assets/img/transport_icons/plane_24.png');
}
li.select2-highlighted span.transport-air {
	background: url('../../assets/img/transport_icons/plane_24_select.png');
}
div.tt-is-under-cursor span.transport-air {
	background: url('../../assets/img/transport_icons/plane_24_select.png');
}


span.transport-road {
	background: url('../../assets/img/transport_icons/road_24.png');
}	
li.select2-highlighted span.transport-road {
	background: url('../../assets/img/transport_icons/road_24_select.png');
}

div.tt-is-under-cursor span.transport-road {
	background: url('../../assets/img/transport_icons/road_24_select.png');
}

span.transport-rail {
	background: url('../../assets/img/transport_icons/train_24.png');
}
li.select2-highlighted span.transport-rail {
	background: url('../../assets/img/transport_icons/train_24_select.png');
}
div.tt-is-under-cursor span.transport-rail {
	background: url('../../assets/img/transport_icons/train_24_select.png');
}





/** fix puts date picker in front of modal box **/
.datepicker{z-index:1151;}
