/* all these have to do with the ul that displayes the rate **/
div.result-row{
	padding: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	border-top: 1px solid #EDF2F7;
}

div.result-row:first-child {
	border-top: 0px;		
}

div.result-row:hover{
	cursor: pointer;
}
div.result-row > div.row-fluid:first-child{
	color: #0088CC;
}

div.result-row > div.result-detail{
	margin-top: 0.5em;
}


button.button-input > span {
	margin-left: 0.5em;
}

span.info{
	color: gray;
	font-size: 90%;
}

span.via-city{
	color: gray;
}

#sell-rate{
	font-size: 115%;
}

.primary-city{
	font-size: 14px;
	color: #3389D1;
	font-weight: 600;
}

#filter-input{
	border-top: 1px solid #EEEEEE;
	margin-top: 1em;
}

ul.subrate > li{
	margin-right: 5px;
	display: inline;
}

label{
	color: #1E347B;
	text-shadow: 0 1px 0 #FFFFFF;
}

/** end rate styles **/


/** filters **/
div#filters{
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	
	padding-bottom: 1em;
	padding-top: 1em;	
	
	margin-bottom: 1em;
	margin-top: 1em;
}



/** query input div **/

table#query-selection {
	max-width: 100%;
	background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top , #F6F6F6, #F1F1F1);
    border: 1px solid #DCDCDC;
    border-radius: 2px 2px 2px 2px;
}

table#query-selection td{
	line-height: 18px;
	vertical-align: middle;
	padding: 8px;
}


table#query-selection td.to{
	padding-left: 5px;
	padding-right: 5px;
}