
.control-group  .input-prepend .add-on, .input-append .add-on, .input-prepend .btn, .input-append .btn{
	margin-left: -4px;
}

select.port-group-selector{
	display: none;
}



div#contract-pages{
	border: 2px solid;
	position: relative;
}

div#contract-page-controls{
	padding-top: 1em;
	padding-right: 1em;	
}

div#contract-page-controls > a.btn{
	margin: 0;
}

img#contract-page{
	height: 1244px;
	width: 956px;
	
}

input#contract-page-number{
	width: 20px;
}

div#contract-page-loading{
	position: absolute; top: 48%; left:48%;	
}

.fade {
   opacity: 0.25;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}



div#contract-pages > div.highlighter {
	width: 100%;
	position: absolute;
	background: rgb(255, 255, 0); /* fallback color */
	background: rgba(255, 255, 0, 0.6);
	
	/*
	* set by user when selecting highlight
	top: 102px;
	height: 20px;
	min-height: 20px;
	*/
}