<div>
	<p>
		<span class="port-code-suggest">
			(<%= port_code %>)
		</span> 
		<%= value %>
	</p>
</div>
<div>
	<i class="famfamfam-flag-<%= flag %>"></i>
		<% for(var i = 0; i < transport_icons.length; i++){ %>
			<i class="<%= transport_icons[i] %> "></i>
	<% } %>
</div>	