<% for (var lane_index in lane_detail) { 
	var lane = lane_detail[lane_index]; %>
<div class="result-row" data-lane-id="<%= lane.id %>">
	<div class="row-fluid">
		<div class="span1 carrier-logo">
			lane.container
		</div>
	</div>
</div>	
<% } // end overall %>
