/** twitter typehead responsive fix **/
	
span.twitter-typeahead{
	width: 97%;
	
}

span.twitter-typeahead input{
	width: 100%;
	border: 1px solid #D6E2EB;
}

/*
div#search{
	background-color: #FDFDFD;
    border: 1px solid #EFEEF3;
    margin-left: -20px;
    margin-right: -20px;
}

*/
div#search h4{
	color: #696D73;
    font-style: italic;
}

   


div#route-search input {
	min-width: 200px;
	
}

div#route-dates {
	margin-top: 1em;
}

div#route-dates .add-on {
	margin-right: -5px;
}



div#results-header {
	margin-top: 1em;
}

div#results-header > span.location{
	color: #696D73;
	font-size: 14px; 
    font-style: italic;
}
div#results-header > i{
	margin: 5px;
}

div#results-header > span.date{
	margin-left: 20px;
}

div#results-header small{
	font-size: 12px; 
    font-style: italic;
    color: #999999;
}


div.result-row{
	border-bottom: 1px solid #EDF2F7;
    color: #526273;
	padding-top: 1em;
	padding-bottom: 1em;
    vertical-align: middle;
    font-size: 12px;
    
}

div.result-row:hover{
	background-color: #F5FAFC;
}

img.carrier-img{
	max-width: 60px;
	height: auto;
}

table#prices td{
	font-size: 13px;
	text-align: right;
}

ul#legs{
	margin-top: 1em;
	margin-left: 1em;
	list-style-type: none;
}

ul#legs > li{
	margin-top: 1em; 
}

div#carrier ul.dropdown-menu label.checkbox{
	cursor: pointer;
	color:inherit;
}

div#filters{
	margin-top: 1em;
}


div.filter{
	display: inline;
    background: linear-gradient(to bottom, #FFFFFF 0%, #F8F8F8 47%, #F4F4F4 100%) repeat scroll 0 0 transparent;
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 4px 0 #EFEFEF;
    
    color: #313D4C;
    cursor: pointer;
    font-size: 13px;
    padding: 4px 12px 4px 12px;
    text-shadow: 1px 1px 1px #FFFFFF;
}

div.filter-dropdown{
	display: none;
	position: absolute;
	top:0;
	left:0;
	
}

div.filter-dropdown a,label {
	cursor: pointer;
}

div.filter-dropdown div.menu > div.header{
	padding-bottom:5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #E6E8E9;
}

div.separator{
	border-top: 1px solid #EDEFF1;
    box-shadow: 0 3px 4px -1px #FAFAFA inset;
    margin-top: 20px;
    padding-top: 10px;
}


div#ship-date{
	border: 1px solid #D6E2EB;
	border-radius: 3px;
	height: 18px;
	line-height: 18px;
	font-family:	'Open Sans',​sans-serif;
	font-size:	12px;
	color:	#555555;
	padding: 5px 10px 5px;
	cursor: pointer;
	
}

div#ship-date > span{
	margin-left: 3px;	
}


